.container{
    border: 1px solid blue;
    padding: 10px;
    display: grid;
    height: 700px;
    /* grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px 200px 300px; */
    /* grid-template:200px 200px 200px/1fr 1fr 1fr; */
    /* grid-template:100px 200px 300px/repeat(3,100px); */
    /* grid-template:1fr/repeat(auto-fill,200px); */
    grid-template:1fr/repeat(auto-fit,200px);
    grid-gap: 10px;
    /* justify-items: end;
    align-items: start; */
    /* place-items: start end; */

    /* align-content: space-between;
    justify-content: space-evenly; */
}

.box{
    background-color: orange;
    border: 1px solid blue;
}